body {
    background-color: ivory;
    /* margin: auto; */
}

.game-board {
    display: flex;
    flex-direction: row;
    background-color: black;
    width: 824px;
    height: 488px;
    /* height: 568px; */
    justify-content: space-evenly;
    margin: auto;
}

.category {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: helvetica;
    text-align: center;
}

.category-box {
    width: 128px;
    height: 72px;
    background-color: #060CE9;
}

.category-header {
    /* width: 128px; */
    /* height: 72px; */
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 1px black;
    padding: 20px 10px 20px 10px;
}

.category-answer-box {
    width: 128px;
    height: 72px;
    background-color: #060CE9;
}

.category-answer {
    /* width: 128px; */
    /* height: 72px; */
    /* background-color: #060CE9; */
    color: #FFCC00;
    font-size: 30pt;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    text-shadow: 4px 4px 2px black;
    /* margin: 0 auto; */
    padding: 3px 10px 0px 7px;
}

.category-answer:first-letter {
    font-size:90%;
    /* vertical-align: baseline; */
}

